<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Details</title>
</head>
<body>
    <!-- Header Include -->
    <%- include('../partials/header.ejs') %>
    <!-- Error Message Include -->
    <%- include('../partials/errorMessage.ejs') %>

    <main>
        <h1>Job Details</h1>
        <section>
            <p><strong>Title:</strong>Cashier </p>
            <p><strong>Company:</strong> <%= job.company %></p>
            <p><strong>Description:</strong> <%= job.description %></p>
            <p><strong>Minimum Pay:</strong> $<%= job.minSalary.toFixed(2) %> an hour</p>
            <p><strong>Maximum Pay:</strong> $<%= job.maxSalary.toFixed(2) %> an hour</p>
            <p><strong>Job Type:</strong> <%= job.jobType %></p>
            <p><strong>Location:</strong> <%= job.location %></p>
            <p><strong>Required Age:</strong> <%= job.requiredAge %></p>
            <p><strong>Date Posted:</strong> <%= job.createdAt.toDateString() %></p>
        </section>

        <% if (currentUser && currentUser.role === 'Student') { %>
            <section>
                <form action="/jobs/<%= job.id %>/apply" method="POST">
                    <button type="submit">Apply for this Job</button>
                </form>
            </section>
        <% } %>
    </main>
</body>
</html>
